$white: #fff;
$black: #000;
$plum: #9E0031;
$crimson: #8E0045;
$purple: #770058;

body {
    width: 100%;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #494850;
}

button {
    position: relative;
    z-index: 99;
    width: 5rem;
    height: 3rem;
    color: $white;
    cursor: pointer;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

.width-80 {
    width: 80%;
    justify-content: center;
}

.container {
    position: relative;
    padding: 2rem;
    z-index: 2;

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 127px 127px 127px 127px 127px 127px 127px;
        max-width: 1000px;
        margin: 0 auto;
        color: $white;
        cursor: pointer;

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all ease 1s;
            overflow: hidden;
            position: relative;

            &:hover {
                color: $crimson;

                &:after {
                    width: 310%;
                }
            }

            &:after {
                content: '';
                height: 100%;
                width: 0;
                position: absolute;
                z-index: -1;
                transition: 1s;
                top: 0;
                bottom: 0;
            }

            &.-a {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
                border-top: 1px solid $white;
                border-left: 1px solid $white;
                border-bottom: 1px solid $white;
                border-right: 0;
                padding: 2rem 0;
                background-color: rgba(255,255,255, 0.5);
    
                &:after {
                    transform: skew(45deg);
                    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 30%, rgba(255,255,255,1) 100%);
                }
            }

            &.-b {
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 4;
                border: 1px solid $white;
                padding: 4rem 0;
                background-color: rgba(0,0,0, 0.5);
    
                &:after {
                    transform: skew(-45deg);
                    background: linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,1) 100%);
                }
            }

            &.-c {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 3;
                grid-row-end: 5;
                border-top: 0;
                border-left: 1px solid $white;
                border-bottom: 1px solid $white;
                border-right: 1px solid $white;
                padding: 2rem 0;
                background-color: rgba(189, 213, 234, 0.5);
                
                &:after {
                    transform: skew(45deg);
                    background: linear-gradient(45deg, rgba(189,213,234,0) 0%, rgba(189,213,234,0.5) 30%, rgba(189,213,234,1) 100%);
                }
            }

            &.-d {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 5;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-bottom: 1px solid $white;
                padding: 2rem 0;
                background-color: rgba(242,92,84, 0.5);

                &:after {
                    transform: skew(-45deg);
                    background: linear-gradient(-45deg, rgba(242,92,84,0) 0%, rgba(242,92,84,0.5) 30%, rgba(242,92,84,1) 100%);
                }
            }

            &.-e {
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 4;
                grid-row-end: 6;
                border-top: 0;
                border-left: 1px solid $white;
                border-right: 0;
                border-bottom: 0;
                padding: 2rem 0;
                background-color: rgba(255,255,255, 0.5);
    
                &:after {
                    transform: skew(45deg);
                    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 30%, rgba(255,255,255,1) 100%);
                }
            }
    
            &.-f {
                grid-column-start: 4;
                grid-column-end: 5;
                grid-row-start: 4;
                grid-row-end: 8;
                border-top: 0;
                border-left: 1px solid $white;
                border-right: 1px solid $white;
                border-bottom: 1px solid $white;
                padding: 2rem 0;
                background-color: rgba(189, 213, 234, 0.5);
    
                &:after {
                    transform: skew(45deg);
                    background: linear-gradient(45deg, rgba(189,213,234,0) 0%, rgba(189,213,234,0.5) 30%, rgba(189,213,234,1) 100%);
                }
            }
    
            &.-g {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 5;
                grid-row-end: 8;
                border-top: 0;
                border-left: 1px solid $white;
                border-right: 0;
                border-bottom: 1px solid $white;
                padding: 2rem 0;
                background-color: rgba(0,0,0, 0.5);
    
                &:after {
                    transform: skew(45deg);
                    background: linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,1) 100%);
                }
            }
    
            &.-h {
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 6;
                grid-row-end: 8;
                border-top: 1px solid $white;
                border-left: 1px solid $white;
                border-right: 0;
                border-bottom: 1px solid $white;
                padding: 2rem 0;
                background-color: rgba(242,92,84, 0.5);
    
                &:after {
                    transform: skew(45deg);
                    background: linear-gradient(45deg, rgba(242,92,84,0) 0%, rgba(242,92,84,0.5) 30%, rgba(242,92,84,1) 100%);
                }
            }

            &.-i {
                grid-column-start: 2;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;
                margin-top: -8rem;
                
                h3 {
                    background-color: $white;
                    margin: 0;
                    padding: 1rem;
                    color: #9E0031;
                }
            }
        }
    }

    .background {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0 auto;
        max-width: 1000px;
        background-color: $white;

        .slug {
            display: flex;
            flex-direction: column;
            color: $black;
            position: relative;
            padding: 2rem;

            &.-a {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;

                .rectangle {
                    width: 100%;
                    height: 100%;
                }
            }

            &.-b {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
            }

            &.-c {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 5;

                .border {
                    width: 100%;
                    height: 100%;
                    border: 5px solid;
                }
            }
        }
    }
}