body {
  width: 100%;
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #fff; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

p {
  font-size: 1rem;
  line-height: 1.5; }

img {
  margin: 0; }

button {
  position: relative;
  display: inline-flex;
  min-width: 80px;
  min-height: 40px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  padding: 0 4rem;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: 700;
  box-shadow: 1px 1px 3px #494850;
  border: 0;
  background-color: transparent;
  text-transform: uppercase; }
  button .border {
    border: 2px solid transparent;
    border-image-repeat: repeat;
    border-image-slice: 3;
    border-image-width: 3px; }
    button .border.red {
      border-image-source: url("http://localhost:8080/canvas?pattern=triangle&color=red&width=500&height=500");
      border-color: #C44536; }
    button .border.plum {
      border-image-source: url("http://localhost:8080/canvas?color=plum");
      border-color: #8E0045; }
    button .border.blue {
      border-image-source: url("http://localhost:8080/canvas?color=blue");
      border-color: #0496FF; }
    button .border.slate {
      border-image-source: url("http://localhost:8080/canvas?color=slate");
      border-color: #788AA3; }
    button .border.purple {
      border-image-source: url("http://localhost:8080/canvas?color=purple");
      border-color: #31263E; }
    button .border.seafoam {
      border-image-source: url("http://localhost:8080/canvas?color=seafoam");
      border-color: #B8E0D2; }
    button .border.lime {
      border-image-source: url("http://localhost:8080/canvas?color=lime");
      border-color: #96BE8C; }
    button .border.no-color {
      border-image-source: url("http://localhost:8080/canvas");
      border-color: #494850; }
  button.red {
    background: url("http://localhost:8080/canvas?pattern=triangle&color=red&width=500&height=500");
    background-color: #C44536; }
  button.plum {
    background: url("http://localhost:8080/canvas?color=plum");
    background-color: #8E0045; }
  button.blue {
    background: url("http://localhost:8080/canvas?color=blue");
    background-color: #0496FF; }
  button.slate {
    background: url("http://localhost:8080/canvas?color=slate");
    background-color: #788AA3; }
  button.purple {
    background: url("http://localhost:8080/canvas?color=purple");
    background-color: #31263E; }
  button.seafoam {
    background: url("http://localhost:8080/canvas?color=seafoam");
    background-color: #B8E0D2; }
  button.lime {
    background: url("http://localhost:8080/canvas?color=lime");
    background-color: #96BE8C; }
  button.no-color {
    background: url("http://localhost:8080/canvas?width=500&height=500");
    background-color: #494850; }
  button.clip-text {
    position: relative;
    /* Color fallback */
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    button.clip-text:before, button.clip-text:after {
      position: absolute;
      content: ''; }
    button.clip-text:before {
      z-index: -2;
      background-image: inherit; }
    button.clip-text:after {
      position: absolute;
      z-index: -1;
      background-color: #000; }

.border {
  border: 2px solid transparent;
  border-image-repeat: repeat;
  border-image-slice: 3;
  border-image-width: 3px; }
  .border.red {
    border-image-source: url("http://localhost:8080/canvas?pattern=triangle&color=red&width=500&height=500");
    border-color: #C44536; }
  .border.plum {
    border-image-source: url("http://localhost:8080/canvas?color=plum");
    border-color: #8E0045; }
  .border.blue {
    border-image-source: url("http://localhost:8080/canvas?color=blue");
    border-color: #0496FF; }
  .border.slate {
    border-image-source: url("http://localhost:8080/canvas?color=slate");
    border-color: #788AA3; }
  .border.purple {
    border-image-source: url("http://localhost:8080/canvas?color=purple");
    border-color: #31263E; }
  .border.seafoam {
    border-image-source: url("http://localhost:8080/canvas?color=seafoam");
    border-color: #B8E0D2; }
  .border.lime {
    border-image-source: url("http://localhost:8080/canvas?color=lime");
    border-color: #96BE8C; }
  .border.no-color {
    border-image-source: url("http://localhost:8080/canvas");
    border-color: #494850; }

.container {
  position: relative;
  padding: 2rem;
  z-index: 2; }
  .container .paper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
    max-width: 1000px;
    background-color: #FCFBF4;
    box-shadow: 1px 1px 3px #494850; }
    .container .paper .slug {
      display: flex;
      flex-direction: column;
      color: #000;
      position: relative;
      padding: 2rem; }
      .container .paper .slug.-a {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2; }
        .container .paper .slug.-a .background {
          width: 100%;
          height: 100%;
          background: url("http://localhost:8080/canvas?width=500&height=500"); }
      .container .paper .slug.-b {
        display: block;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3; }
      .container .paper .slug.-c {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5; }
        .container .paper .slug.-c .border {
          padding: 1rem; }
      .container .paper .slug.-d {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 7; }
        .container .paper .slug.-d label {
          position: relative; }
          .container .paper .slug.-d label input {
            display: block;
            width: 100%;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            height: 1.75rem;
            margin: 0;
            background: none;
            border-image-width: inherit; }
            .container .paper .slug.-d label input .border {
              border: 2px solid transparent;
              border-image-repeat: repeat;
              border-image-slice: 3;
              border-image-width: 3px; }
              .container .paper .slug.-d label input .border.red {
                border-image-source: url("http://localhost:8080/canvas?pattern=triangle&color=red&width=500&height=500");
                border-color: #C44536; }
              .container .paper .slug.-d label input .border.plum {
                border-image-source: url("http://localhost:8080/canvas?color=plum");
                border-color: #8E0045; }
              .container .paper .slug.-d label input .border.blue {
                border-image-source: url("http://localhost:8080/canvas?color=blue");
                border-color: #0496FF; }
              .container .paper .slug.-d label input .border.slate {
                border-image-source: url("http://localhost:8080/canvas?color=slate");
                border-color: #788AA3; }
              .container .paper .slug.-d label input .border.purple {
                border-image-source: url("http://localhost:8080/canvas?color=purple");
                border-color: #31263E; }
              .container .paper .slug.-d label input .border.seafoam {
                border-image-source: url("http://localhost:8080/canvas?color=seafoam");
                border-color: #B8E0D2; }
              .container .paper .slug.-d label input .border.lime {
                border-image-source: url("http://localhost:8080/canvas?color=lime");
                border-color: #96BE8C; }
              .container .paper .slug.-d label input .border.no-color {
                border-image-source: url("http://localhost:8080/canvas");
                border-color: #494850; }
            .container .paper .slug.-d label input.red {
              border-bottom: 2px solid #C44536; }
            .container .paper .slug.-d label input.plum {
              border-bottom: 2px solid #8E0045; }
            .container .paper .slug.-d label input.blue {
              border-bottom: 2px solid #0496FF; }
            .container .paper .slug.-d label input.slate {
              border-bottom: 2px solid #788AA3; }
            .container .paper .slug.-d label input.purple {
              border-bottom: 2px solid #31263E; }
            .container .paper .slug.-d label input.seafoam {
              border-bottom: 2px solid #B8E0D2; }
            .container .paper .slug.-d label input.lime {
              border-bottom: 2px solid #96BE8C; }
      .container .paper .slug.-e {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 9; }
        .container .paper .slug.-e select {
          appearance: none;
          -webkit-appearance: none;
          border-radius: 3px;
          padding: 0.5rem; }
          .container .paper .slug.-e select .border {
            border: 2px solid transparent;
            border-image-repeat: repeat;
            border-image-slice: 3;
            border-image-width: 3px; }
            .container .paper .slug.-e select .border.red {
              border-image-source: url("http://localhost:8080/canvas?pattern=triangle&color=red&width=500&height=500");
              border-color: #C44536; }
            .container .paper .slug.-e select .border.plum {
              border-image-source: url("http://localhost:8080/canvas?color=plum");
              border-color: #8E0045; }
            .container .paper .slug.-e select .border.blue {
              border-image-source: url("http://localhost:8080/canvas?color=blue");
              border-color: #0496FF; }
            .container .paper .slug.-e select .border.slate {
              border-image-source: url("http://localhost:8080/canvas?color=slate");
              border-color: #788AA3; }
            .container .paper .slug.-e select .border.purple {
              border-image-source: url("http://localhost:8080/canvas?color=purple");
              border-color: #31263E; }
            .container .paper .slug.-e select .border.seafoam {
              border-image-source: url("http://localhost:8080/canvas?color=seafoam");
              border-color: #B8E0D2; }
            .container .paper .slug.-e select .border.lime {
              border-image-source: url("http://localhost:8080/canvas?color=lime");
              border-color: #96BE8C; }
            .container .paper .slug.-e select .border.no-color {
              border-image-source: url("http://localhost:8080/canvas");
              border-color: #494850; }
          .container .paper .slug.-e select::after {
            content: '';
            position: absolute;
            left: 18px;
            top: 50px;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #000;
            clear: both; }
